/* buttons */

:root {
  --background-color: #FFFBFE;
  --transitions: all 0.2s linear;
  --button-background: #6750A4;
  --font-color: #FFFFFF;
  --button-background-secondary: #abe6ff;
  --cell-padding: 0.7rem;
  --transitions: all 0.2s linear;
  --on-background: #21005D;
  --font-color-secondary: #FFFBFE;
  --paginator-background-secondary: #49454F;
  --paginator-background-tertiary: #625B71;
  --table-background: #E7E0EC;
  --font-color-primary: #1C1B1F;
  --on-surface-variant: #49454F;
  --translateAlongY: translateY(-4px);
  --boxShadow: 3px 3px 3px #888888;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background-color);
  font-family: "Roboto", sans-serif;
}

.delete-button-styles {
  background-color: var(--button-background);
  color: var(--font-color);
  border: none;
  padding: 0.4rem 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  line-height: 2;
  transition: all 0.2s ease-out;
  flex: 1 0 auto;
}

.delete-button-styles:hover {
  transform: var(--translateAlongY);
  box-shadow: var(--boxShadow);
}

.delete-button-styles:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 3px #888888;
}

.action-button-styles {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.3rem;
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
}

/* table */

.table {
  width: 100%;
  border-collapse: collapse;
  color: var(--font-color-primary);
}

.table td,
.table th {
  text-align: left;
  border-bottom: 1px solid var(--font-color-primary);
  text-transform: capitalize;
  padding-top: var(--cell-padding);
  padding-bottom: var(--cell-padding);
}

.actions-container {
  width: 5rem;
  display: flex;
  gap: 0.5rem;
}

.selected-row {
  background: var(--on-surface-variant);
  color: var(--font-color)
}

.data-table {
  display: flex;
  flex-direction: column;
  background: var(--table-background);
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
}

/* editable row */
td:nth-child(n+2) input {
  border: 2px solid #1b3f4e;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
}

td:nth-child(n+2) input:focus {
  transform: var(--translateAlongY);
  border: 2px solid #1b3f4e;
  box-shadow: var(--boxShadow);
}

th:nth-child(1) input,
td:nth-child(1) input {
  width: 1.15rem;
  height: 1.15rem;
}



/* header */
.header-styles {
  font-size: 1rem;
  letter-spacing: 0.2rem;
  line-height: 1.7;
  color: var(--font-color-primary);
}

/* paginator */


ul {
  max-width: 100%;
  list-style-type: none;
  display: flex;
  gap: 1.5em;
  padding-left: 0;
  flex: 1 0 auto;
  justify-content: space-evenly;
}

ul>li {
  height: auto;
  width: 2.1875rem;
  border-radius: 0.4rem;
  cursor: pointer;
  color: var(--on-surface-variant);
  /* color: var(--font-color); */
  /* background: var(--paginator-background-secondary); */
  transition: var(--transitions);
}

li {
  transition: var(--transitions);
  text-align: center;
  line-height: 2.1875rem;
}



page-active {
  background: var(--on-background);
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.active {
  background: var(--on-background);
  color: var(--font-color);
}

.active:hover {
  transform: translateY(0);
}

/* row action */
img {
  display: block;
  height: 100%;
  object-fit: cover;
}

/* search bar */
.search-bar-styles {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  padding: 0.7rem;
  border: 3px solid #1b3f4e;
  border-radius: 2rem;
  font-size: large;
}

/* landing page */
.landing-page-container {
  width: 90vw;
  max-width: 1500px;
  margin: 0 auto;
}

.landing-page-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}



.pagination-deletion-container {
  max-width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-bar-container {
  max-width: 100%;
}


/* Accordion */

.accordions {
  width: 100%;
}

.accordion-container {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.accordion-label {
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.accordion-label>div>div:last-child {
  font-size: 0.75rem;
}

.accordion-label::after {
  content: "+";
  font-size: 1.5rem;
  transition: all 0.1s ease-out;
}

.accordion-body {
  display: none;
}

.mobile-dataTable {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.accordion-body-label {
  font-size: 0.7rem;
  text-transform: capitalize;
}

.accordion-data {
  display: flex;
  flex-direction: column;
}

.accordion-body-active {
  padding: 1rem;
  background: #FFFBFE;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 1rem;
  border-radius: 0.3rem;
  animation: animateOnClick 0.4s linear;
}


.accordion-label.accordion-active::after {
  content: "+";
  font-size: 1.5rem;
  transform: rotate(-220deg);
  transition: all 0.3s ease-in-out;
}

.accordion-body>div:nth-child(odd) {
  text-transform: capitalize;
}

hr {
  width: 100%;
  margin-left: 0;
  border: 1px solid black;
}

.select-all {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}


@keyframes animateOnClick {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media (min-width: 801px) {
  .search-bar-container {
    max-width: 20rem;
    margin-right: auto;
  }

  .pagination-deletion-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .delete-button-styles {
    flex: 0 0 auto;
  }

  ul {
    flex: 0 0 0;
  }
}

@media (min-width: 700px) {
  ul>li {
    height: 2.1875rem;
    width: 2.1875rem;
    border-radius: 50%;
  }

  li:hover {
    transform: var(--translateAlongY);
  }
}