.input-styles {
    border: 2px solid #1b3f4e;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    transition: all 0.3s ease-in-out;
}

.input-styles:focus {
    transform: var(--translateAlongY);
    border: 2px solid #1b3f4e;
    box-shadow: var(--boxShadow);
}