.landing-page-container {
    width: 95vw;
    margin: 0 auto 2rem auto;
}



.landing-page-content {
    padding-top: 3rem;
}

.data-table {
    display: flex;
    flex-direction: column;
    background: #1B2430;
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
}

.pagination-deletion-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar-container {
    width: 20rem;
    margin-right: auto;
}