.landing-page-container {
    width: 95vw;
    margin: 0 auto;
}



.landing-page-content {
    padding-top: 3rem;
}

.data-table {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
}

.pagination-deletion-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}