:root {
    --cell-padding: 0.7rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    color: #D6D5A8;
}

.table td,
.table th {
    text-align: left;
    border-bottom: solid #D6D5A8;
    text-transform: capitalize;
    padding-top: var(--cell-padding);
    padding-bottom: var(--cell-padding);
}

.actions-container {
    width: 5rem;
    display: flex;
    gap: 0.5rem;
}

.selected-row {
    background: gainsboro;
}