/* buttons */

:root {
    --transitions: all 0.2s linear;
    --button-background: #816797;
    --font-color: aliceblue;
    --button-background-secondary: #abe6ff;
}

.delete-button-styles {
    background-color: var(--button-background);
    color: var(--font-color);
    border: none;
    padding: 0.4rem 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: var(--transitions);
}


.delete-button-styles:hover {
    background: var(--button-background-secondary);
    color: var(--button-background);
}

.action-button-styles {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.3rem;
    height: 1.8rem;
    width: 1.8rem;
    cursor: pointer;
}



/* table */

:root {
    --cell-padding: 0.7rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    color: #D6D5A8;
}

.table td,
.table th {
    text-align: left;
    border-bottom: solid #D6D5A8;
    text-transform: capitalize;
    padding-top: var(--cell-padding);
    padding-bottom: var(--cell-padding);
}

.actions-container {
    width: 5rem;
    display: flex;
    gap: 0.5rem;
}

.selected-row {
    background: gainsboro;
}


/* editable row */
input {
    border: 2px solid #1b3f4e;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    transition: all 0.3s ease-in-out;
}


input:focus {
    transform: translateY(-4px);
    border: 2px solid #1b3f4e;
    box-shadow: 3px 3px 3px #888888;
}


/* header */
.header-styles {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    line-height: 1.7;
    color: #E6EEF4;
}


/* paginator */
:root {
    --transitions: all 0.2s linear;
    --paginator-background-primary: #D6D5A8;
    --font-color: #2c2d3b;
    --font-color-secondary: #edecdd;
    --paginator-background-secondary: #a3a8d8;
    --paginator-background-tertiary: #816797;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem
}

ul>li {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--paginator-background-secondary);
}

li {
    transition: var(--transitions);
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover {
    background: var(--paginator-background-tertiary);
    color: var(--font-color-secondary);
}

page-active {
    background: var(--paginator-background-primary);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.active {
    background: var(--paginator-background-primary);
    color: var(--font-color);
}


/* row action */
img {
    display: block;
    height: 100%;
    object-fit: cover;
}

/* search bar */
.search-bar-styles {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    padding: 0.7rem;
    border: 3px solid #1b3f4e;
    border-radius: 2rem;
    font-size: large;
}

/* landing page */
.landing-page-container {
    width: 95vw;
    margin: 0 auto 2rem auto;
}



.landing-page-content {
    padding-top: 3rem;
}

.data-table {
    display: flex;
    flex-direction: column;
    background: #1B2430;
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
}

.pagination-deletion-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar-container {
    width: 20rem;
    margin-right: auto;
}