:root {
    --transitions: all 0.2s linear;
    --paginator-background-primary: #D6D5A8;
    --font-color: #2c2d3b;
    --font-color-secondary: #edecdd;
    --paginator-background-secondary: #a3a8d8;
    --paginator-background-tertiary: #816797;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem
}

ul>li {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--paginator-background-secondary);
}

li {
    transition: var(--transitions);
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover {
    background: var(--paginator-background-tertiary);
    color: var(--font-color-secondary);
}

page-active {
    background: var(--paginator-background-primary);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.active {
    background: var(--paginator-background-primary);
    color: var(--font-color);
}